doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="main.css")
    body 
        header.main-header
            nav.main-header_nav 
                ul.main-header_ul 
                    li.main-header_item
                        a.active(href="/shop") Shop
                    li.main-header_item
                        a(href="/admin/add-product") Add Product

        main
            if prods.length > 0
                .grid
                    each prod in prods
                        article.card.product-item
                            header.card-header
                                h1.product-title #{prod.title}
                            .card-image 
                                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRyacw_xTkYOjqjjsvmN3jpDp8wPtdo--a2Q&usqp=CAU", alt="")
                            .card-content 
                                h2.product-price $19.99
                                p.product-desc A really nice #{prod.title}
                            .card-actions   
                                button.btn Add to Cart
            else
                h1 AINT NO BALLS HERE YO

        